body
{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
}

.container
{
	margin: 0 auto;
	background-color: #036c65;
	max-width: 1200px;
}

.box
{
	background-color: #aed3cb;
	color: #036c65;
	padding: 20px;
	text-align: center;
	margin: 10px;
}

#mainHeader
{
	display: flex;
	flex-direction: row;
}

.logo
{
	width: 50px;
	margin-left: 10px;
	margin-right: auto;
}

.headerRight
{
	display: flex;
	flex-direction: row;
}

.hero
{
	height: 150px;
}

.contactDetails, .contactForm
{
	height: 250px;
}

.footer
{
	margin: 0;
	height: 80px;
}

@media screen and (min-width: 600px)
{	
	#mainHeader
	{
		display: flex;
		flex-direction: row;
	}

	.logo
	{
		order: -1;
		flex: 1 1 80px;
		margin-left: 10px;
		width: 8%;
		height: 80px;
	}
	
	.headerRight
	{
		display: flex;
		flex-direction: column;
		width: 80%;
		align-items: flex-end;
		flex: 1 1 80%;
	}

	.social
	{
		float: right;
		width: 50px;
		height: 10px;
	}
	
	.nav
	{
		flex: 0 1 200px;
		height: 10px;
		width: 70%;
	}
	
	.hero
	{
		height: 250px;
		margin: 0;
	}
	
	.box
	{
		flex: 1 1 auto;
	}

	.notification
	{
		display: flex;
		flex-direction: row;
		margin: 0 -10px;
	}
	
	#contact
	{
		display: flex;
		flex-direction: row;
		height: 400px;
		margin: 40px;
	}
	
	.contactDetails, .contactForm
	{
	height: 340px;
	}

	.footer
	{
		height: 150px;
		margin: 0;
	}
}