body
{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
}

.container
{
	margin: 0 auto;
	background-color: #036c65;
	max-width: 1200px;
}

.box
{
	background-color: #aed3cb;
	color: #ff406c;
	border-radius: 5px;
	padding: 20px;
	text-align: center;
	margin: 10px;
}

#mainHeader
{
	display: flex;
	flex-direction: row;

}

.logo
{
	width: 50px;
	margin-left: 10px;
	margin-right: auto;
}

.headerRight
{
	display: flex;
	flex-direction: row;
}


@media screen and (min-width: 600px)
{
	#mainHeader
	{
		display: flex;
		flex-direction: row;
	}

	.headerRight
{
	display: flex;
	flex-direction: column;
	height: 30px;
	align-items: flex-end;

}

	.Hero
	{
		height: 250px;
		margin: 0;
	}
	
	.box
	{
		flex: 1 1 auto;
	}

	.social
	{
		height: 10px;
		width: 50px;
	}
	
	.nav
	{

		width: 600px;
		height: 10px;
	}
	
	.logo
	{
		order: -1;
		flex: 0 1 220px;
		margin-left: 10px;
		height: 80px;
		width: 80px;
	}

	.notification
	{
		display: flex;
		flex-direction: row;
		margin-right: -10px;
		margin-left: -10px;
	}

	
	#Contact
	{
		display: flex;
		flex-direction: row;
		height: 400px;
		margin: 40px;
	}

	.footer
	{
		height: 150px;
	}
}